In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# to show all the generated plots inline in the notebook
%matplotlib inline

C:\Users\oltep\AppData\Local\Temp\ipykernel_25416\175064918.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_excel("Input\Real_Estate_Data.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\R'
<>:1: SyntaxWarning: invalid escape sequence '\R'
C:\Users\oltep\AppData\Local\Temp\ipykernel_25416\1510998767.py:1: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_excel("Input\Real_Estate_Data.xlsx")

In [5]:
df.head()

,Sr. No.,Location,Sub-Area,Propert Type,Property Area in Sq. Ft.,Price in lakhs,Price in Millions,Company Name,TownShip Name/ Society Name,Total TownShip Area in Acres,ClubHouse,School / University in Township,Hospital in TownShip,Mall in TownShip,Park / Jogging track,Swimming Pool,Gym
0,1,"Pune, Maharashtra, India",Bavdhan,1 BHK,492.0,39,3.9,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes
1,2,"Pune, Maharashtra, India",Bavdhan,2 BHK,774.0,65,6.5,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes
2,3,"Pune, Maharashtra, India",Bavdhan,3 BHK,889.0,74,7.4,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes
3,4,"Pune, Maharashtra, India",Bavdhan,3 BHK Grand,1018.0,89,8.9,Shapoorji Paloonji,Vanaha,1000.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes
4,5,"Pune, Maharashtra, India",Mahalunge,2BHK,743.0,74,7.4,Godrej Properties,Godrej Hills retreat,100.0,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [6]:
df.describe()

,Sr. No.,Property Area in Sq. Ft.,Price in Millions,Total TownShip Area in Acres
count,200.000000,200.000000,199.000000,51.000000
mean,100.500000,894.060000,9.525829,97.392157
std,57.879185,380.256831,10.186984,266.710786
min,1.000000,113.000000,1.319000,2.500000
25%,50.750000,670.000000,5.150000,5.000000
50%,100.500000,800.500000,7.000000,25.000000
75%,150.250000,1041.250000,9.943500,25.000000
max,200.000000,2447.000000,93.000000,1000.000000

In [17]:
df.dtypes

Sr. No.                               int64
Location                             object
Sub-Area                             object
Propert Type                         object
Property Area in Sq. Ft.            float64
Price in lakhs                       object
Price in Millions                   float64
Company Name                         object
TownShip Name/ Society Name          object
Total TownShip Area in Acres        float64
ClubHouse                            object
School / University in Township      object
Hospital in TownShip                 object
Mall in TownShip                     object
Park / Jogging track                 object
Swimming Pool                        object
Gym                                  object
dtype: object

In [18]:
df_selection = df[['Propert Type',
                   'Property Area in Sq. Ft.',
                   'Sub-Area',
                   'Swimming Pool',
                   'Price in Millions']]
df_selection.head()

,Propert Type,Property Area in Sq. Ft.,Sub-Area,Swimming Pool,Price in Millions
0,1 BHK,492.0,Bavdhan,Yes,3.9
1,2 BHK,774.0,Bavdhan,Yes,6.5
2,3 BHK,889.0,Bavdhan,Yes,7.4
3,3 BHK Grand,1018.0,Bavdhan,Yes,8.9
4,2BHK,743.0,Mahalunge,Yes,7.4